.my-web {
    &__faq {
        display: flex;
    
        &__wrapper {
          display: flex;
          flex-direction: column;
          max-width: 800px;
          min-height: 300px;
        }
    
        &__title {
          display: flex;
          justify-content: center;
          padding: 8px 0;
          border-bottom: 2px solid #7b0180;
        }

        &__copy {
          font-size: 18px;
        }
    
        &__list {
          ul {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin: 0.75em 0;
            padding: 0 1em;
            list-style: none;
            min-width: 800px;

            li {
              cursor: pointer;
              padding-bottom: 16px;
            }
          }
        }

        &__list-item {
            &--selected {
              img {
                transform: rotate(90deg);
                transition: transform 0.25s;
            }
          }
        }

        &__question {
          display: flex;
          align-items: center;
        }
    
        &__response {
          display: flex;
          padding: 8px;
          margin: 8px 0;
          border: solid 1px #7b0180;
          border-radius: 5px;
          
          &__copy {
            font-size: 14px;

            a {
              color: #7b0180;
            }
          }
        }

        &__img {
          display: flex;
          width: 20px;
          height: 20px;
          padding-right: 8px;
        }
      }
}