.my-web {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 60px;
  font-family: monospace;
  font-size: calc(10px + 2vmin);
  background-color: #110e17;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url('./assets/avatar.svg'), url('./assets/laptop.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top right, left bottom; 

  &__header {
    display: flex;
    flex-direction: column;
    color: white;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding: 28px 28px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__wrapper {
      display: flex;
      padding: 8px 8px 16px;
      width: 238px;
      height: 330px;
      border: 1px solid white;
      border-radius: 5px;
      margin: 16px;
    }

    &__img {
      display: flex;
      justify-content: center;
      transition: all 0.3s;

      :hover {
        transform: scale(1.1);
        cursor: pointer;
      }

      > img {
        width: 92px;
        height: 92px; 
      }
    }

    &__title {
      align-self: center;
      margin: 16px 0px;
      font-size: 28px;
    }

    &__text {
      font-size: 16px;
      display: flex;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 580px;

    &__title {
      padding: 16px 0;
    }

    &__text {
      font-size: 18px;
      display: flex;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.highlight {
  background-image: linear-gradient(to right, #F27121cc, #E94057cc, #8A2387cc);
  border-radius: 1em 0 1em 0;
  padding: 3px 6px;
}

.typewriter {
  padding-top: 8px;
  font-size: 24px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}